.app-header {
  background: var(--color-background-lightest);
  border-bottom: 2px solid var(--color);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

  @media print {
    display: none !important;
  }

  .header-content {
    margin: 0 auto;
    width: 100%;
    padding: 1rem 2rem;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }

  .logo-link {
    text-decoration: none;
    color: inherit;
  }

  .logo {
    color: var(--color);
    margin: 0;
    font-size: 2.2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    flex-grow: 1;

    &:hover {
      color: var(--color-dark);
    }
  }

  .user-welcome {
    display: flex;
    align-items: center;
    color: var(--color-dark);
    font-weight: 600;
    margin-right: 0.5rem;
    font-size: 0.95rem;
  }


  .main-nav {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;


    .nav-link {
      padding: 0.5rem 1rem;
      text-decoration: none;
      color: var(--dark);
      background: var(--color-background-dark);
      border-radius: 4px;
      font-weight: 600;
      font-size: 0.7rem;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      transition: all 0.2s;
      flex-shrink: 0;

      &:hover {
        background: var(--color-light);
        color: var(--color-darkest);
      }

      &.active {
        background: var(--color);
        color: var(--color-lightest);
      }
    }
  }
}